.index_item {
display: block;
position: relative;
width: 900px;
margin: auto;
background: white;
border: 1px solid #ddd;
border-radius: 3px;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
padding: 30px 20px;
margin-bottom: 20px;
}
.index_item:nth-of-type(2){
  margin-top: 70px;
}

.index_item img{
  width: 100%;
  margin-top: -10px;
  height: 250px;
  object-fit: cover;
  object-position: 0 -70px;
}

.index_h1{
  width: 880px;
  margin-top: 20px;
}
.index_p{
 width: 880px;
}
.index_item a{
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
}
