nav{
background: #F9F9F9; /* цвет фона */
width: 300px; /* Ширина блока 300 */
position: fixed; /* Позиция привзана к точке на экране и не меняет свою позицию */
top: 45px; /* отступ сверху */
left: 10px; /* отступ слева */
padding: 10px; /*  внутренний отступ */
box-sizing: border-box; /* Говорит браузеру учитывать любые границы и внутренние отступы для высоты и ширины эл */
opacity: .1; /* Полупрозрачность элемента */
transition: all .5s ease; /* Появление */


}
nav:hover {
  opacity: 1;
  transition: all .1s ease;
} /* плавное появление при наведении */

nav p{
margin: 0px; /* внешний отступ отсутсвует */
font-weight: bold; /* текст вышеден жирностью  */
font-size: 14px!important; /* размер шрифта */
word-wrap: break-word;
padding-left: 20px;
} /*  */

nav a{ /* прописиваем для ссылки */
  text-decoration: none;
  font-size: 12px!important;
  padding-bottom: 5px;
  word-wrap: break-word;
  padding-left:  20px;

}

nav ul{
  list-style-type: none;
  width: 100%;
}
nav li{
  margin: 0px 0;
  line-height: 10px;
  text-decoration: none;
  padding-top: 10px;

}

nav {
 background: #222222
 width: 300px;
 position: fixed;
 top: 50px;
 left: 10px;
 padding: 5px;
 box-sizing: border-box;
 overflow-x: hidden;
 overflow-y: scroll;
 height: 90vh;
 display: block;
 padding-bottom: 10px;
}
nav a{
 text-decoration: none;
}
.sidebar{
 padding-left: 0px;
}
.table{
  word-wrap: break-word;
  padding: 5px;
  margin: 5px;
  width: 280px;
}
