@import "reset.css";/* сбрoc настроек браузера */
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Sans:400,400i,700,700i&amp;subset=cyrillic');
@import "layout.css"; /* макет  */
@import "content.css"; /* контент / содержимое  */
/*@import "sidebar.css"; /* панель - боковая / верхней  */
/* @import "filename.css";  */
@import "nav.css";/* панель - боковая / верхней  */
@import "responsive.css";/* адаптивность */
@import "index.css";
